.card{
   
    height: 220px;
         width:120px;
 }
 
 @media (min-width:500px) {
     .card{
         height: 280px;
    width:140px; }
     
 }
 

 

 
 .card-title{
     font-size:small;
 }
    
 @media (min-width:500px) {
     .card-title{
 
         font-size:medium;
     
    }
 }
 
 .card-text{
     font-size:small;
 }
    
 @media (min-width:500px) {
     .card-text{
 
         font-size:medium;
     
    }
 }
 

 .loder-container{
    margin-top: 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
 }