.footer-custom {
  background-color: white; /* Light gray background, you can adjust the color */
  border-top: 1px solid #e7e7e7; /* Adds a top border */
}

.footer-custom h5 {
  color: #333; /* Dark text color for headings */
}

.footer-custom p {
  color: #666; /* Lighter text color for content */
}

.text-decoration-none {
  text-decoration: none; /* Removes underline from links */
}

.text-decoration-none:hover {
  color: #007bff; /* Change color on hover */
}
