

.container{
    width: 100%;
    

}

@media (min-width:500px) {
    .container{
        width: 75%}
    
}

.product-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Set a maximum height for the image */
   margin: 10px;
  }

.custumbutton{
  width: 140px;
  height:40px;
  color: white;
  border-radius: 5px;

  border:0;
  
}

@media (min-width:500px) {
    .custumbutton{
        width: 150px;
        height:40px;
      
        border:0; }
    
}





  @media (min-width:500px) {
    .custom-textarea {
        
        overflow: hidden;
      }
    
    
}

