/* OrderProgress.css */
.progress-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 251, 0);
    border-radius: 10px;
  }
  
  .progress-step {
    flex: 1;
    text-align: center;
    position: relative;
  }
  
  .progress-step.completed {
    color: #5cb85c; /* Green color for completed steps */
  }
  
  .tick-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* ViewOrders.css */
  .container-border {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-top: 20px;
  }
  
  .product-details1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
 
  
  .order-progress {
    margin-top: 20px;
  }
  
  .progress-container {
    display: flex;
    justify-content: space-between;
  }
  
  .progress-step {
    flex: 1;
    text-align: center;
    position: relative;
  }
  
  .progress-step.completed {
    color: #28a745; /* Green color for completed steps */
  }
  
  .tick-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Additional styles for Mode of Payment and Delivery Address */
  .payment-address-container {
    margin-top: 20px;
  }
  
  /* Add any additional styling based on your requirements */
  .order-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Set a maximum height for the image */
   margin: 10px;
  }