.footertextsize{
  font-size: 6px; /* Example font size */
}


@media (min-width:500px) {
  .footertextsize{
    font-size: 15px;}
  
}


  
    /* Adjust layout for smaller screens */
    .text-start,
    .text-end {
     
      text-align: center;
      margin-bottom: 20px; /* Example margin */
    }
  
    /* Adjust width of table cells for smaller screens */
    td {
     
    
      text-align: center;
    }
  
  