.searchitemMessage {
    text-align: center;
  }
  
  .searchitemImage {
    width: 150px;
    height: 150px;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  .product-container {
    transition: transform 0.3s ease-in-out;
  }
  
  .product-container:hover {
    transform: scale(1.05);
  }
  